*, *::before, *::after

{
    box-sizing: border-box;
  }
  
  body
  {
    font-family: 'cochin';
    background: thistle;
    font-size: large;
    padding-bottom: 100px;
    height: 100%;
}
#mailLink
{
  font-family: 'cochin';
  font-size: large;
  padding: 0px;
}

.blog
{
    
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 18px;
    margin-inline: 60px;
    padding: 20px;
    border-radius: 8px;
}

a
{
    font-size: 20px;
    color: black;
    padding-inline: 5px;
    padding-block: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    font-weight: normal;
    border: solid thin black;
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 50px;
    padding-block: 10px;
    margin-inline: 30%;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

.mainimgs
{
    height: auto;
    align-self: center;
    margin-inline: 20px;
    float: right;
    border-radius: 7%;
}

#img1
{
    width: 20%;
}

#img3
{
    width: 23%;
}

#img4
{
    width: 20%;
}

h2
{
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-inline: 100px;
}

h3
{
    text-align: center;
    margin-bottom: 80px;
}

input, textarea
{
  min-width: 300px;
  font-size: 20px;
  max-width: 300px;
}

textarea
{
  min-height: 50px;
  max-height: 300px;
  height: 100px !important;
}

#column1
{
    font-weight: normal;
    width: 50%;
    float: left;
    margin-bottom: 80px;
}

#column2
{
    font-weight: normal;
    width: 50%;
    float: right;
    margin-bottom: 80px;
}


  .label, .label2
  {
      padding-top: 80px;
      font-weight: normal;
      margin-top: -60px;
      font-size: 30px;
      margin-inline: 70px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .label:hover
  {
    text-decoration: underline 2px;
  }


  #scroll
  {
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-inline: 2.5vw;
  }
  
  #scrolling
  {
    justify-content: space-evenly;
    text-align: center;
    border-bottom: thin solid black;
    padding-block: 20px;
    margin-inline: 40px;
  }
  
  #top
  {
    background-color: thistle;
    z-index: 3;
    overflow: visible;
    position: sticky;
    top: 0;
    width: 100%;
    overflow: visible;
  }

  #slideshow
  {
    border-radius: 6px;
    background-color: rgba(168, 143, 168, 0.791);
    height: 330px;
    position: relative;
    border: thin solid black;
    margin-inline: 7%;
    margin-top: 30px;
    display: flex;
    padding-inline: 1.45%;
    overflow: hidden;
    z-index: 2;
  }
  
  .feature
  {
    display: block;
    height: 280px;
    width: 280px;
    max-width: fit-content;
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 20px;
    margin-inline: 50px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    animation: slide 35s infinite;
  }

  .ftimg
  {
    height: auto;
    width: 200px;
    border-radius: 2px;
  }

  .cap
  {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    padding-top: 10px;
  }

  .cap:hover
  {
    text-decoration: underline;
  }
  
  
#wrap
  {
    align-self: center;
    position: relative;
    left: -191.5%;
    display: flex;
  }

  .direction
  {
    border: thin solid black;
    margin-inline: 150px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.3);
    width: 50px;
    text-align: center;
  }
  
  .direction:hover
  {
    background-color: rgb(255, 255, 255, 0.8);
  }

  #directionButtons
  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 200px;
    margin-block: 20px
  }

  @keyframes slide
  {
    0%
    {
      transform: translate(0%)
    }
    3%, 17%
    {
      transform: translate(136%)
    }
    20%, 34%
    {
      transform: translate(272%);
    }
    37%, 51%
    {
      transform: translate(408%);
    }
    54%, 68%
    {
      transform: translate(544%);
    }
    71%, 85%
    {
      transform: translate(680%);
    }
    88%, 100%
    {
      transform: translate(816%);
    }
  }







  figure
  {
    display: block;
    transform: rotate(7deg);
    margin: auto;
    box-shadow: 8px 8px 4px dimgray;
    width: 200px;
    min-width: 200px;
    height: 280px;
    border: thin solid black;
    background-color: floralwhite;
  }

  @media screen and (max-width: 500px) {
    #medias
    {
      margin-inline: 10% !important;
    }
    .label, .label2
    {
      font-size: 6vw;
      margin-inline: 7%
    }
    .blog
    {
      font-size: 4vw;
      margin-inline: 5%
    }
    .movieTitle
    {
      font-size: 4vw !important;
      padding-bottom: 6px;
    }
    h1
    {
      margin-inline: 5%;
    }
    #scrolling, #scroll
    {
      font-size: 1rem !important;
    }
    #scrolling
    {
      margin-inline: 0%;
    }
    #top
    {
      padding-inline: 0px !important;
      margin-inline: 0px;
    }
    .des
    {
      font-size: 3vw !important;
    }
    a
    {
      font-size: 3.5vw;
    }
    td
    {
      min-width: 120px;
      min-height: 200px;
    }
    footer
    {
      font-size: 10px !important;
    }
  }

  figure:hover, .overlay:hover > figure
  {
    transform: rotate(0deg) !important;
    box-shadow: 8px 8px 4px dimgrey;
    filter:saturate(70%);
  }
  
  figure:hover > img, figure:hover > figcaption, .overlay:hover > img, .overlay:hover > figcaption
  {
    filter: blur(12px);
  }
  
  figure:hover > .inner
  {
    filter: blur(0px) !important;
    z-index: 4;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    opacity: 100%;
  }

  figure img
  {
    outline: thin solid black;
    outline-offset: -15px;
    padding: 15px;
    width: 100%;
  }

  figure figcaption
  {
    padding-bottom: 35px;
    padding-inline: 15px;
    font-family: monospace;
    text-align: center;
  }

  .gallery
  {
    flex-wrap: wrap;
    display: flex;
    margin-inline: 10%;
    padding-top: 110px;
    margin-top: -20px;
    justify-content: space-between;
  }

  .inner
  {
    margin-inline: 20px;
    opacity: 0%;
    margin-block: 30%;
    position: absolute;
    z-index: 1;
    text-align: center;
  }

  #comment-box, #name-box
  {
    margin-block: 20px;
    margin-inline: 100px;
    height: 50px;
  }

  #name-box
  {
    width: 200px;
  }

  #comment-box
  {
    width: 400px;
  }

  #boxes
  {
    border: thin solid black;
    width: 700px;
    display: block;
  }

  #post
  {
    box-shadow: 6px 6px dimgray;
    font-size: 20px;
    background-color: lavender;
    color: black;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 80px;
  }

  #unordered
  {
    margin-inline: 40px;
  }

  .reply
  {
    font-family: monospace;
    font-size: 16px;
    background-color: transparent;
    border: none;
    padding-block: 4px;
    margin-inline: 20px;
  }

  .reply:hover
  {
    font-style: italic;
  }

  .comment
  {
    padding-block: 15px;
    padding-inline: 12px;
    border: thin solid black;
    background-color: whitesmoke;
    border-radius: 4px;
    display: block;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
  }
  .name
  {
    margin-left: 8px;
    font-family: "courier new";
  }

  #faces
  {
    display: flex;
    margin-block: 20px;
    margin-inline: 200px;
    justify-content: space-between;
  }

  .myPics
  {
    border: thin solid black;
    margin-top: 40px;
  }

  .face
  {
    position: relative;
    margin-inline: 100px;
  }

  .facecap, .score
  {
    margin: 20px;
    text-align: center;
    font-size: 30px;
  }

  .score
  {
    font-family: monospace;
  }

  .social
  {
    width: 6vw;
    height: 6vw;
    min-width: 40px;
    min-height: 40px;
  }

  .social:hover
  {

    filter: invert(0.2) sepia() hue-rotate(240deg) saturate(600%);

  }

  #medias
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: 25%;
    min-width: fit-content;
    margin-block: 3%;
    background-color: rgba(168, 143, 168, 0.791);
    border-radius: 4px;
    padding: 20px;
    border: thin solid black;
  }

  table
  {
    margin-bottom: 60px;
    margin-top: 20px;
    margin-inline: auto;
    border: thin solid black;
    border-radius: 8px;
    background-color: rgba(168, 143, 168, 0.791);
    background-color: rgba(255, 255, 255, 0.7);
  }

  td
  {
    border: thin solid rgb(255, 255, 255, 0);
    width: 20vw;
    height: 120px;
    vertical-align: text-top;
  }

  td:hover
  {
    border: thin solid black;
    border-radius: 8px;
    background: rgba(205, 168, 235, 0.3);
  }

  td:hover > a
  {
    color: darkviolet;
  }

  .des
  {
    padding-top: 6px;
    padding-inline: 10px;
    font-weight: normal;
    font-size: 18px;
  }

  footer
  {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: -80px;

  }

  .drop
  {
    padding-block: 6px;
    padding-inline: 10px 20px;
    font-size: 12px;
    border-bottom: 1px solid black;
    text-decoration: none;
    background-color: whitesmoke;
  }

  .dropdown-content
  {
    border: 1px solid black;
    display: none;
    overflow: visible;
    z-index: 5;
    width: fit-content;
  }
  
  .dropdown
  {
    margin-left: 30px;
    text-align: left;
    width: fit-content;
    position: absolute;
  }
  
  .dropdown:hover > .dropdown-content
  {
    display: block;
  }

  .drop:hover, drop:hover > li
  {
    background-color: lightsteelblue;
    text-decoration: underline 2px;

  }

  li
  {
    list-style: none;
    text-decoration: none;
  }

  .movieTitle
  {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
    font-size: 20px;
  }

  u
  {
    font-family: inherit;
  }

