*, *::before, *::after

{
    box-sizing: border-box;
    font-family: "cochin";
    font-weight: normal;
}

body
{
    background: pink;
    font-size: large;
}

.blog
{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    margin-inline: 40px;
    padding: 20px;
    border-radius: 8px;
}

a
{
    font-size: 25px;
    color: black;
    background-color: rgb(255, 255, 255, 0.6);
    padding-inline: 20px;
    padding-block: 4px;
    border-radius: 6px;
}

a:hover
{
    color: darkviolet;
    background-color: rgb(255, 255, 255, 0.9);
}

a:visted
{
    color: orange;
    background-color: blue;
}

h1
{
    color: black;
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 50px;
    padding-block: 10px;
    padding-inline: 40px;
    margin-inline: 400px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

h2
{
    font-size: 40px;
    text-align: center;
}

h3
{
    text-align: center;
    line-height: 50px;
    margin-bottom: 80px;
}

#column
{
    float: left;
    margin-bottom: 80px;
    width: 50%;
  }

  /* Clear floats after the columns ????*/
  #row:after
  {
    display: table;
    clear: both;
  }

  .label
  {
    font-size: 30px;
    margin-inline: 50px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #scroll
  {
    display: inline;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
  }

  #scrolling
  {
    align-items: center;
    display: flex;
    margin-inline: 42%;
  }
