body
{
    background-color: rgb(250, 250, 250);
    font-family: "cochin";
}


h1
{
    font-weight: normal;
    font-size: 50px;
    font-family: monospace;
    text-align: center;;
}

h2
{
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}

h3
{
    color: black;
    font-weight: normal;
    margin-inline: 25%;
}

#box
{
    text-align: center;
}

#cross
{
    display: flex;
    text-align: center;
    margin-inline: 15%;
}

#sidebar
{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #dcdcdc;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 2px solid rebeccapurple;
  }

  #sidebar a
  {
    padding-left: 16px;
    padding-block: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
  }

  #sidebar a:hover
  {
    color: rebeccapurple;
    background-color: rgb(175, 175, 175);
  }